EMICSS/EMDB_EMICSS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="emicss">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dbs">
                    <xs:annotation>
                        <xs:documentation>
                            List of databases annotated for this EMDB entry
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="db">
                                <xs:complexType>
                                    <xs:attribute name="db_source" type="db_source_type"/>
                                    <xs:attribute name="db_version" type="xs:token"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="cross_ref_dbs">
                    <xs:annotation>
                        <xs:documentation>
                            Entry based annotations
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="cross_ref_db"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="citations" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="citation">
                                <xs:complexType>
                                    <xs:attribute name="doi" type="xs:string"/>
                                    <xs:attribute name="provenance" type="provenance_type"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="weights">
                    <xs:annotation>
                        <xs:documentation>
                            Total weight of the assemblies. Calculated from both PDBe and author provided experimental and theoretical values
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="weight">
                                <xs:complexType>
                                    <xs:attribute name="pdb_id" type="xs:string"/>
                                    <xs:attribute name="assemblies" type="xs:int"/>
                                    <xs:attribute name="method" type="xs:string"/>
                                    <xs:attribute name="weight" type="xs:string"/>
                                    <xs:attribute name="unit" type="xs:string"/>
                                    <xs:attribute name="provenance" type="provenance_type"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sample" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="name" type="xs:string" minOccurs="0"/>
                            <xs:element minOccurs="0" name="cross_ref_dbs">
                                <xs:annotation>
                                    <xs:documentation>
                                        Sample based annotations
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" ref="cross_ref_db"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="supramolecules" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Supramolecule annotations
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="supramolecule" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string"/>
                                                  <xs:element name="cross_ref_dbs">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded"
                                                  ref="cross_ref_db"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="kind" type="sample_kind"/>
                                                <xs:attribute name="id" type="xs:nonNegativeInteger"/>
                                                <xs:attribute name="copies"
                                                  type="xs:nonNegativeInteger"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="macromolecules" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Macromolecule annotations
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="macromolecule" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string"/>
                                                  <xs:element minOccurs="0" name="ccd_id"
                                                  type="xs:ID"/>
                                                  <xs:element name="cross_ref_dbs">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded"
                                                  ref="cross_ref_db"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="kind" type="sample_kind"/>
                                                <xs:attribute name="id" type="xs:nonNegativeInteger"/>
                                                <xs:attribute name="copies"
                                                  type="xs:nonNegativeInteger"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="emdb_id" type="emdb_id_type"/>
            <xs:attribute name="schema_version" type="xs:token"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="emdb_id_type">
        <xs:restriction base="xs:token">
            <xs:pattern value="EMD-\d{4,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="db_source_type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="UNIPROT"/>
            <xs:enumeration value="UNIPROTKB"/>
            <xs:enumeration value="COMPLEX PORTAL"/>
            <xs:enumeration value="PDBe"/>
            <xs:enumeration value="PDBe-KB"/>
            <xs:enumeration value="ALPHAFOLDDB"/>
            <xs:enumeration value="CHEMBL"/>
            <xs:enumeration value="CHEBI"/>
            <xs:enumeration value="DRUGBANK"/>
            <xs:enumeration value="EMPIAR"/>
            <xs:enumeration value="PUBMED"/>
            <xs:enumeration value="PUBMED CENTRAL"/>
            <xs:enumeration value="ISSN"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="INTERPRO"/>
            <xs:enumeration value="PFAM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="provenance_type">
        <xs:restriction base="xs:token">
            <xs:annotation>
                <xs:documentation>
                    Annotations done from the respective database. Could be more than one database
                </xs:documentation>
            </xs:annotation>
            <xs:enumeration value="AUTHOR"/>
            <xs:enumeration value="UNIPROT"/>
            <xs:enumeration value="UniProtKB"/>
            <xs:enumeration value="PDBe"/>
            <xs:enumeration value="PDBe-KB"/>
            <xs:enumeration value="AlphaFoldDB"/>
            <xs:enumeration value="EMPIAR"/>
            <xs:enumeration value="EuropePMC"/>
            <xs:enumeration value="CPX"/>
            <xs:enumeration value="BLASTP"/>
            <xs:enumeration value="COMPLEX PORTAL"/>
            <xs:enumeration value="ChEMBL"/>
            <xs:enumeration value="ChEBI"/>
            <xs:enumeration value="DrugBank"/>
            <xs:enumeration value="CCD"/>
            <xs:enumeration value="PUBMED CENTRAL"/>
            <xs:enumeration value="CALCULATED"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="INTERPRO"/>
            <xs:enumeration value="PFAM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sample_kind">
        <xs:restriction base="xs:token">
            <xs:enumeration value="complex"/>
            <xs:enumeration value="protein"/>
            <xs:enumeration value="ligand"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="cross_ref_db">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="db_source" type="db_source_type"/>
            <xs:attribute name="accession_id" type="xs:string"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="category" type="xs:string"/>
            <xs:attribute name="link" type="xs:string"/>
            <xs:attribute name="provenance" type="provenance_type"/>
            <xs:attribute name="provenance1" type="provenance_type"/>
            <xs:attribute name="provenance2" type="provenance_type"/>
            <xs:attribute name="score" type="xs:float"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
