EMICSS/EMDB_EMICSS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="emicss">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dbs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="db">
                                <xs:complexType>
                                    <xs:attribute name="db_source" type="db_source_type"/>
                                    <xs:attribute name="db_version" type="xs:token"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="molecular_weight">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="models">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                        <xs:element minOccurs="0" name="model" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="pdb_id">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="4"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="assemblies"
                                                  type="xs:nonNegativeInteger"/>
                                                <xs:attribute name="weight" type="xs:string"/>
                                                <xs:attribute name="units" type="xs:string"/>
                                                <xs:attribute name="provenance"
                                                  type="provenance_type"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="weights">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0"
                                            name="weight">
                                            <xs:complexType>
                                                <xs:attribute name="kind" type="xs:string"/>
                                                <xs:attribute name="method" type="xs:string"/>
                                                <xs:attribute name="weight" type="xs:string"/>
                                                <xs:attribute name="units" type="xs:string"/>
                                                <xs:attribute name="provenance"
                                                  type="provenance_type"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sample" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="name" type="xs:string" minOccurs="0"/>
                            <xs:element minOccurs="0" name="cross_ref_dbs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0"
                                            name="cross_ref_db">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string"/>
                                                <xs:attribute name="db_source" type="db_source_type"/>
                                                <xs:attribute name="provenance"
                                                  type="provenance_type"/>
                                                <xs:attribute name="db_accession_id" type="xs:ID"/>
                                                <xs:attribute name="score" type="xs:float"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="supramolecules" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="supramolecule" maxOccurs="unbounded"
                                            minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string"/>
                                                  <xs:element name="cross_ref_dbs">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded"
                                                  name="cross_ref_db" minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:attribute name="name" type="xs:string"/>
                                                  <xs:attribute name="db_source"
                                                  type="db_source_type"/>
                                                  <xs:attribute name="provenance"
                                                  type="provenance_type"/>
                                                  <xs:attribute name="db_accession_id" type="xs:ID"/>
                                                  <xs:attribute name="score" type="xs:float"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="kind" type="sample_kind"/>
                                                <xs:attribute name="id" type="xs:nonNegativeInteger"/>
                                                <xs:attribute name="copies"
                                                  type="xs:nonNegativeInteger"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="macromolecules" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="macromolecule" maxOccurs="unbounded"
                                            minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string"/>
                                                  <xs:element minOccurs="0" name="ccd_id"
                                                  type="xs:ID"/>
                                                  <xs:element name="cross_ref_dbs">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="cross_ref_db"
                                                  maxOccurs="unbounded" minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:attribute name="name" type="xs:string"/>
                                                  <xs:attribute name="db_source"
                                                  type="db_source_type"/>
                                                  <xs:attribute name="provenance"
                                                  type="provenance_type"/>
                                                  <xs:attribute name="db_accession_id" type="xs:ID"/>
                                                  <xs:attribute name="score" type="xs:float"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="kind" type="sample_kind"/>
                                                <xs:attribute name="id" type="xs:nonNegativeInteger"/>
                                                <xs:attribute name="copies"
                                                  type="xs:nonNegativeInteger"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="emdb_id" type="emdb_id_type"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="emdb_id_type">
        <xs:restriction base="xs:token">
            <xs:pattern value="EMD-\d{4,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="db_source_type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="UNIPROT"/>
            <xs:enumeration value="COMPLEXPORTAL"/>
            <xs:enumeration value="PDBe"/>
            <xs:enumeration value="CHEMBL"/>
            <xs:enumeration value="CHEBI"/>
            <xs:enumeration value="DRUGBANK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="provenance_type">
        <xs:restriction base="xs:token">
            <xs:enumeration value="AUTHOR"/>
            <xs:enumeration value="UNIPROT"/>
            <xs:enumeration value="PDBe"/>
            <xs:enumeration value="PDBe + UNIPROT"/>
            <xs:enumeration value="CPX + UNIPROT"/>
            <xs:enumeration value="BLASTP"/>
            <xs:enumeration value="COMPLEXPORTAL"/>
            <xs:enumeration value="ChEMBL"/>
            <xs:enumeration value="ChEBI"/>
            <xs:enumeration value="DrugBank"/>
            <xs:enumeration value="CALCULATED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sample_kind">
        <xs:restriction base="xs:token">
            <xs:enumeration value="complex"/>
            <xs:enumeration value="protein"/>
            <xs:enumeration value="ligand"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
