EMICSS/EMDB_EMICSS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="emicss">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dbs">
                    <xsd:annotation>
                        <xsd:documentation>
                            List of databases annotated for this EMDB entry
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="db">
                                <xsd:complexType>
                                    <xsd:attribute name="db_source" type="db_source_type"/>
                                    <xsd:attribute name="db_version" type="xsd:token"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="entry_ref_dbs" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            Annotations on EMDB entry level
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry_ref_db">
                                <xsd:complexType>
                                    <xsd:attribute name="db_source" type="xsd:string"/>
                                    <xsd:attribute name="accession_id" type="xsd:string"/>
                                    <xsd:attribute name="provenance" type="provenance_type"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="primary_citation">
                    <xsd:annotation>
                        <xsd:documentation>
                            Entry based citation annotations
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ref_citation">
                                <xsd:complexType>
                                    <xsd:attribute name="db_source" type="xsd:string"/>
                                    <xsd:attribute name="accession_id" type="xsd:string"/>
                                    <xsd:attribute name="provenance" type="provenance_type"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="authors">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Primary publication authors list
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="author"
                                            minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:attribute name="author_name" type="xsd:string"/>
                                                <xsd:attribute name="orcid_id" type="xsd:string"/>
                                                <xsd:attribute name="author_order"
                                                  type="xsd:integer"/>
                                                <xsd:attribute name="provenance"
                                                  type="provenance_type"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="doi" type="xsd:string"/>
                        <xsd:attribute name="provenance" type="provenance_type"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="weights">
                    <xsd:annotation>
                        <xsd:documentation>
                            Total weight of the assemblies. Calculated from both PDBe and author provided (experimental and theoretical) values
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="weight_info" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:attribute name="pdb_id" type="xsd:string"/>
                                    <xsd:attribute name="assemblies" type="xsd:int"/>
                                    <xsd:attribute name="method" type="xsd:string"/>
                                    <xsd:attribute name="weight" type="xsd:string"/>
                                    <xsd:attribute name="unit" type="xsd:string"/>
                                    <xsd:attribute name="provenance" type="provenance_type"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="sample" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            Sample level annotations
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
                            <xsd:element minOccurs="0" name="cross_ref_dbs">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Annotations based on sample level
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" ref="cross_ref_db"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="supramolecules" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Supramolecule annotations
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="supramolecule" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="name" type="xsd:string"/>
                                                  <xsd:element name="cross_ref_dbs">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded"
                                                  ref="cross_ref_db"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="sample_kind"/>
                                                <xsd:attribute name="emdb_supramolecule_id"
                                                  type="xsd:nonNegativeInteger"/>
                                                <xsd:attribute name="copies"
                                                  type="xsd:nonNegativeInteger"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="macromolecules" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Macromolecule annotations
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="macromolecule" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="name" type="xsd:string"/>
                                                  <xsd:element minOccurs="0" name="ccd_id"
                                                  type="xsd:ID"/>
                                                  <xsd:element name="cross_ref_dbs">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded"
                                                  ref="cross_ref_db"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="sample_kind"/>
                                                <xsd:attribute name="emdb_macromolecule_id"
                                                  type="xsd:nonNegativeInteger"/>
                                                <xsd:attribute name="copies"
                                                  type="xsd:nonNegativeInteger"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="emdb_id" type="emdb_id_type"/>
            <xsd:attribute name="schema_version" type="xsd:token"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="emdb_id_type">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="EMD-\d{4,}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="db_source_type">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="UNIPROT"/>
            <xsd:enumeration value="UNIPROTKB"/>
            <xsd:enumeration value="COMPLEX PORTAL"/>
            <xsd:enumeration value="PDBe"/>
            <xsd:enumeration value="PDBe-KB"/>
            <xsd:enumeration value="ALPHAFOLD DB"/>
            <xsd:enumeration value="CHEMBL"/>
            <xsd:enumeration value="CHEBI"/>
            <xsd:enumeration value="DRUGBANK"/>
            <xsd:enumeration value="EMPIAR"/>
            <xsd:enumeration value="PUBMED"/>
            <xsd:enumeration value="PUBMED CENTRAL"/>
            <xsd:enumeration value="ISSN"/>
            <xsd:enumeration value="GO"/>
            <xsd:enumeration value="INTERPRO"/>
            <xsd:enumeration value="PFAM"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="provenance_type">
        <xsd:restriction base="xsd:token">
            <xsd:annotation>
                <xsd:documentation>
                    Annotations done from the respective database. Could be more than one database
                </xsd:documentation>
            </xsd:annotation>
            <xsd:enumeration value="AUTHOR"/>
            <xsd:enumeration value="UNIPROT"/>
            <xsd:enumeration value="UniProtKB"/>
            <xsd:enumeration value="PDBe"/>
            <xsd:enumeration value="PDBe-KB"/>
            <xsd:enumeration value="AlphaFold DB"/>
            <xsd:enumeration value="EMPIAR"/>
            <xsd:enumeration value="EuropePMC"/>
            <xsd:enumeration value="CPX"/>
            <xsd:enumeration value="BLASTP"/>
            <xsd:enumeration value="COMPLEX PORTAL"/>
            <xsd:enumeration value="ChEMBL"/>
            <xsd:enumeration value="ChEBI"/>
            <xsd:enumeration value="DrugBank"/>
            <xsd:enumeration value="CCD"/>
            <xsd:enumeration value="PUBMED CENTRAL"/>
            <xsd:enumeration value="CALCULATED"/>
            <xsd:enumeration value="GO"/>
            <xsd:enumeration value="INTERPRO"/>
            <xsd:enumeration value="PFAM"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="sample_kind">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="complex"/>
            <xsd:enumeration value="protein"/>
            <xsd:enumeration value="ligand"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="cross_ref_db">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="db_source" type="db_source_type"/>
            <xsd:attribute name="accession_id" type="xsd:string"/>
            <xsd:attribute name="uniprot_start" type="xsd:positiveInteger"/>
            <xsd:attribute name="uniprot_end" type="xsd:positiveInteger"/>
            <xsd:attribute name="type" type="xsd:string"/>
            <xsd:attribute name="category" type="xsd:string"/>
            <xsd:attribute name="link" type="xsd:string"/>
            <xsd:attribute name="provenance" type="provenance_type"/>
            <xsd:attribute name="provenance1" type="provenance_type"/>
            <xsd:attribute name="provenance2" type="provenance_type"/>
            <xsd:attribute name="score" type="xsd:float"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
