EMICSS/EMDB_EMICSS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="emicss">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dbs" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            List of databases annotated for this EMDB entry
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="db">
                                <xsd:complexType>
                                    <xsd:attribute name="db_source" type="db_source_type">
                                        <xsd:annotation>
                                            <xsd:documentation>Name of the database</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="db_version" type="xsd:token">
                                        <xsd:annotation>
                                            <xsd:documentation>Version of the database if available</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="entry_ref_dbs" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            Annotations on EMDB entry level
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="entry_ref_db">
                                <xsd:complexType>
                                    <xsd:attribute name="db_source" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Database/resource name</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="accession_id" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Unique ID provided by the database</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="provenance" type="provenance_type">
                                        <xsd:annotation>
                                            <xsd:documentation>Resource where the cross reference is fetched from.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="primary_citation">
                    <xsd:annotation>
                        <xsd:documentation>
                            Entry based citation annotations
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ref_citation">
                                <xsd:annotation>
                                    <xsd:documentation>Reference to citation</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="db_source" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Database/resource name</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="accession_id" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Unique ID provided by the database/resource</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="provenance" type="provenance_type">
                                        <xsd:annotation>
                                            <xsd:documentation>Resource citation reference is fetched</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="authors">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Primary publication authors list
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="author"
                                            minOccurs="0">
                                            <xsd:annotation>
                                                <xsd:documentation>Author’s detail</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:attribute name="name" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Author's name</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="orcid_id" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Author's ORCID id</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="order" type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Order of the author’s name as in publication </xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="provenance"
                                                  type="provenance_type">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Resource ORCID is fetched</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="doi" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>DOI for the publication</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="provenance" type="provenance_type">
                            <xsd:annotation>
                                <xsd:documentation>Resource from where DOI is mapped</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="weights">
                    <xsd:annotation>
                        <xsd:documentation>
                            Total weight of the assemblies. Calculated from both PDBe and author provided (experimental and theoretical) values
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="weight_info" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Sample weight by different methods</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="pdb_id" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Protein Data Bank id</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="assemblies" type="xsd:int">
                                        <xsd:annotation>
                                            <xsd:documentation>Number of biological assemblies in PDB</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="weight" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Weight of the sample</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="unit" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Sample weight Units</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="provenance" type="provenance_type">
                                        <xsd:annotation>
                                            <xsd:documentation>Resource sample weight is fetched </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="sample" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            Sample level annotations
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence minOccurs="0">
                            <xsd:element name="name" type="xsd:string" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Name of the sample</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="cross_ref_dbs">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Annotations based on sample level
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" ref="cross_ref_db"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="supramolecules" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Supramolecule annotations
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="supramolecule" maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:documentation>Annotations for a supramolecular</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="name" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Name of the supramolecule</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element name="cross_ref_dbs">
                                                  <xsd:annotation>
                                                  <xsd:documentation>List of cross references for supramolecule</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded"
                                                  ref="cross_ref_db"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="sample_kind">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Sample type either Complexes/proteins</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="id"
                                                  type="xsd:nonNegativeInteger">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Supramolecule id number</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="copies"
                                                  type="xsd:nonNegativeInteger">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Number of supramolecules </xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="provenance"
                                                  type="provenance_type">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Resource supramolecular cross reference is fetched</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="macromolecules" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Macromolecule annotations
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="macromolecule" maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:documentation>Annotations for a macromolecular</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="name" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Name of the macromolecule</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="ccd_id"
                                                  type="xsd:ID">
                                                  <xsd:annotation>
                                                  <xsd:documentation>PDBe Chemical Component Dictionary (CCD) id</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element name="cross_ref_dbs">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded"
                                                  ref="cross_ref_db"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="type" type="sample_kind">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Sample type either proteins/ligands</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="id"
                                                  type="xsd:nonNegativeInteger">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Macromolecule id number</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="copies"
                                                  type="xsd:nonNegativeInteger">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Number of copies of the macromolecular in the sample</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                                <xsd:attribute name="provenance"
                                                  type="provenance_type">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Resource macromolecular cross reference is fetched</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="emdb_id" type="emdb_id_type">
                <xsd:annotation>
                    <xsd:documentation>EMDB entry id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schema_version" type="xsd:token">
                <xsd:annotation>
                    <xsd:documentation>EMICSS schema version</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="emdb_id_type">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="EMD-\d{4,}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="db_source_type">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="UNIPROT"/>
            <xsd:enumeration value="UNIPROTKB"/>
            <xsd:enumeration value="COMPLEX PORTAL"/>
            <xsd:enumeration value="PDBe"/>
            <xsd:enumeration value="PDBe-KB"/>
            <xsd:enumeration value="ALPHAFOLD DB"/>
            <xsd:enumeration value="CHEMBL"/>
            <xsd:enumeration value="CHEBI"/>
            <xsd:enumeration value="DRUGBANK"/>
            <xsd:enumeration value="EMPIAR"/>
            <xsd:enumeration value="PUBMED"/>
            <xsd:enumeration value="PUBMED CENTRAL"/>
            <xsd:enumeration value="ISSN"/>
            <xsd:enumeration value="GO"/>
            <xsd:enumeration value="INTERPRO"/>
            <xsd:enumeration value="PFAM"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="provenance_type">
        <xsd:restriction base="xsd:token">
            <xsd:annotation>
                <xsd:documentation>
                    Annotations done from the respective database. Could be more than one database
                </xsd:documentation>
            </xsd:annotation>
            <xsd:enumeration value="AUTHOR"/>
            <xsd:enumeration value="UNIPROT"/>
            <xsd:enumeration value="UniProtKB"/>
            <xsd:enumeration value="PDBe"/>
            <xsd:enumeration value="PDBe-KB"/>
            <xsd:enumeration value="AlphaFold DB"/>
            <xsd:enumeration value="EMPIAR"/>
            <xsd:enumeration value="EuropePMC"/>
            <xsd:enumeration value="CPX"/>
            <xsd:enumeration value="BLASTP"/>
            <xsd:enumeration value="COMPLEX PORTAL"/>
            <xsd:enumeration value="ChEMBL"/>
            <xsd:enumeration value="ChEBI"/>
            <xsd:enumeration value="DrugBank"/>
            <xsd:enumeration value="CCD"/>
            <xsd:enumeration value="PUBMED CENTRAL"/>
            <xsd:enumeration value="CALCULATED"/>
            <xsd:enumeration value="GO"/>
            <xsd:enumeration value="INTERPRO"/>
            <xsd:enumeration value="PFAM"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="sample_kind">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="complex"/>
            <xsd:enumeration value="protein"/>
            <xsd:enumeration value="ligand"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="cross_ref_db">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Name as in the cross reference database</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="db_source" type="db_source_type">
                <xsd:annotation>
                    <xsd:documentation>Database/resource name </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="accession_id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Unique ID provided by the database</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="uniprot_start" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation>Starting residue number as in UniProt</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="uniprot_end" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation>Ending residue number as in UniProt</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Three main aspects Gene Ontology is categorised on</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="provenance" type="provenance_type">
                <xsd:annotation>
                    <xsd:documentation>Resource the mapping is fetched from</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="score" type="xsd:float">
                <xsd:annotation>
                    <xsd:documentation>If the complex in the sample mathces exactly to the complex in the Complex Protal database the score is 1.0. If anything between score 0.9 and 0.5, the complex matches only partially with the complex in the Complex Portal. Score below 0.5 is omitted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
